
#title{
   
    width: 100%;
}

#features{
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 1;
    
}

.main-image{
    width: 60%;
    transform: rotate(27deg);
    position: absolute;
    right: 30%;
}


h1{
    font-family: "Monsterrat-black";
    size: 3rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding-bottom: 30px;
}

h2{
    
    size: 5rem;
    line-height: 1.5;
    width: 75%;
    
}
h3{
    padding: auto;
    font-family: "Monsterrat-bold";
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 14% 10%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: bold;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Monsterrat-light";
}

.download-button{
    margin: 0% 3% 0% 0%;
}


.fas{
    color: #ef8172;
    padding: 40% 0% 5% 0%;
}

.fas:hover {
    color: #ff4c68;
}

.col-lg-4{
    color: #8f8f8f;
    font-weight: bold;
    
}

#features{
    padding-bottom: 8%;
}

#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    padding: 20px;
}

.testimonial-text{
    margin-left: 7%;
}


#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    
}

.cta-heading{
    color: white;
    font-family: "Monsterrat-black";
    width: 65%;
    font-weight: bold;
    font-size: 65px;
    margin-left: 15%;
    padding-bottom: 5%;
}
.cta-container{
    height: 400px;
}

.footer-container{
    height: 100px;
}

.copyright{
    margin-top: 3%;
    color: grey;
    font-weight: bold;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .main-image{
        position: static;
        transform: rotate(0deg);
        padding-top: 10%;
    }
}
@media (max-width: 1035px){
    .cta-container{
        height: 500px;
    }
}